In [1]:
primes = [2, 3, 5, 7]

In [2]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [34]:
hands = [
    ['J', 'Q', 'K'],
    ['2', '2', '2'],
    ['6', 'A', 'K'], # (Comma after the last element is optional)
]
# (I could also have written this on one line, but it can get hard to read)
hands = [['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]

In [36]:
hands[0][1]

'Q'

In [38]:
hands[-1][1]

'A'

In [4]:
my_favourite_things = [32, 'raindrops on roses', help]
# (Yes, Python's help function is *definitely* one of my favourite things)

In [5]:
planets[3:]

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [6]:
planets[:3]

['Mercury', 'Venus', 'Earth']

In [7]:
# All the planets except the first and last
planets[1:-1]

['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus']

In [8]:
# The last 3 planets
planets[-3:]

['Saturn', 'Uranus', 'Neptune']

In [9]:
#rename 'Mars'
planets[3] = 'Malacandra'
planets

['Mercury',
 'Venus',
 'Earth',
 'Malacandra',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune']

In [10]:
planets[:3] = ['Mur', 'Vee', 'Ur']
print(planets)

['Mur', 'Vee', 'Ur', 'Malacandra', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [11]:
# That was silly. Let's give them back their old names
planets[:4] = ['Mercury', 'Venus', 'Earth', 'Mars',]

In [12]:
# The planets sorted in alphabetical order
sorted(planets)

['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']

In [13]:
primes = [2, 3, 5, 7]
sum(primes)

17

In [14]:
max(primes)

7

In [15]:
x = 12
# x is a real number, so its imaginary part is 0.
print(x.imag)
# Here's how to make a complex number, in case you've ever been curious:
c = 12 + 3j
print(c.imag)

0
3.0

In [16]:
x.bit_length()

4

In [17]:
help(x.bit_length)

Help on built-in function bit_length:

bit_length() method of builtins.int instance
    Number of bits necessary to represent self in binary.

    >>> bin(37)
    '0b100101'
    >>> (37).bit_length()
    6

# List methods

In [18]:
#list.append modifies a list by adding an item to the end
# Pluto is a planet darn it!
planets.append('Pluto')

In [19]:
#list.pop removes and returns the last element of a list
planets.pop()

'Pluto'

### Searching lists

In [20]:
planets.index('Earth')

2

In [21]:
# Is Earth a planet?
"Earth" in planets

True

In [22]:
 Is Calbefraques a planet?
"Calbefraques" in planets

Object `planet` not found.

False

# Tuple
>Tuples are almost exactly the same as lists. They differ in just two ways.
1.   The syntax for creating them uses parentheses instead of square brackets.

In [3]:
t = (1, 2, 3)
t

(1, 2, 3)

In [25]:
t = 1, 2, 3 
t

(1, 2, 3)

>2.    They cannot be modified (they are immutable).

In [1]:
t_ = [4, 5, 6]

In [4]:
t[0] = 100

TypeError: ignored

In [6]:
t_[0] = 100
t_

[100, 5, 6]

>Tuples are often used for functions that have multiple return values.

>For example, the as_integer_ratio() method of float objects returns a numerator and a denominator in the form of a tuple:

In [8]:
x = 0.125 #1/8
x.as_integer_ratio()

(1, 8)

In [9]:
numerator, denominator = x.as_integer_ratio()
print(numerator / denominator)

0.125

In [10]:
a = 1
b = 0
a, b = b, a
print(a, b)

0 1

# Exercises

In [11]:
L = [1, 2, 3]
L.index(1)

0

In [12]:
type(L)

list

In [13]:
L[0]

1

In [28]:
def select_second(L):
    """Return the second element of the given list. If the list has no second
    element, return None.
    """
    if len(L) <= 1:
      return None
    else:
      return L[1]

In [29]:
select_second([2,6,9,5])

6

In [30]:
select_second([9])

In [31]:
def select_second(L):
  return L[1] if len(L) > 1 else None

In [32]:
select_second([3,6,8])

6

In [33]:
select_second([1])

In [40]:
def losing_team_captain(teams):
    """Given a list of teams, where each team is a list of names, return the 2nd player (captain)
    from the last listed team
    """
    return teams[-1][1]

In [43]:
teams = [['Kayla', 'Do', 'Andrew', 'Tiger'], ['Steve', 'Jack', 'Trump', 'Patrick'], ['Tim', 'Taylor', 'Johnny', 'Tracy']]
losing_team_captain(teams)

'Taylor'

In [94]:
def purple_shell(racers):
    """Given a list of racers, set the first place racer (at the front of the list) to last
    place and vice versa.
    
    >>> r = ["Mario", "Bowser", "Luigi"]
    >>> purple_shell(r)
    >>> r
    ["Luigi", "Bowser", "Mario"]
    """
    temp = racers[0]
    racers[0] = racers[-1]
    racers[-1] = temp

In [95]:
a = [1, 2, 3]
b = [1, [2, 3]]
c = []
d = [1, 2, 3][1:]

# Put your predictions in the list below. Lengths should contain 4 numbers, the
# first being the length of a, the second being the length of b and so on.
lengths = [3, 2, 0, 2]

In [97]:
def fashionably_late(arrivals, name):
    """Given an ordered list of arrivals to the party and a name, return whether the guest with that
    name was fashionably late.
    """
    order = arrivals.index(name)
    return order >= len(arrivals) / 2 and order != len(arrivals) - 1