In [1]:
x = 'Pluto is a planet'
y = "Pluto is a planet"
x == y

True

In [2]:
print("Pluto's a planet!")
print('My dog is named "Pluto"')

Pluto's a planet!
My dog is named "Pluto"

In [ ]:
'Pluto's a planet!' #confused

In [3]:
'Pluto\'s a planet!'

"Pluto's a planet!"

In [5]:
print("Look, a mountain: /\\")

Look, a mountain: /\

In [7]:
print("That's \"cool\"!")

That's "cool"!

In [8]:
print('What\'s up?')

What's up?

In [9]:
# Indexing
planet = 'Pluto'
planet[0]

'P'

In [10]:
# Slicing
planet[-3:]

'uto'

In [11]:
# How long is this string?
len(planet)

5

In [12]:
# Yes, we can even loop over them
[char+'! ' for char in planet]

['P! ', 'l! ', 'u! ', 't! ', 'o! ']

In [13]:
planet[0] = 'B'
# planet.append doesn't work either

TypeError: ignored

In [14]:
# ALL CAPS
claim = "Pluto is a planet!"
claim.upper()

'PLUTO IS A PLANET!'

In [15]:
# all lowercase
claim.lower()

'pluto is a planet!'

In [16]:
# Searching for the first index of a substring
claim.index('plan')

11

In [17]:
claim.startswith(planet)

True

In [18]:
claim.endswith('dwarf planet')

False

>### Going between strings and lists: .split() and .join()
**str.split()** turns a string into a list of smaller strings, breaking on whitespace by default. This is super useful for taking you from one big string to a list of words.

In [19]:
words = claim.split()
words

['Pluto', 'is', 'a', 'planet!']

In [20]:
datestr = '1956-01-31'
year, month, day = datestr.split('-')

In [22]:
[year, month, day]

['1956', '01', '31']

>**str.join()** takes us in the other direction, sewing a list of strings up into one long string, using the string it was called on as a separator.

In [23]:
'/'.join([month, day, year])

'01/31/1956'

In [24]:
# Yes, we can put unicode characters right in our string literals :)
' ðŸ‘ '.join([word.upper() for word in words])

'PLUTO ðŸ‘ IS ðŸ‘ A ðŸ‘ PLANET!'

>### Building strings with .format()
Python lets us concatenate strings with the + operator.

In [25]:
planet + ', we miss you.'

'Pluto, we miss you.'

In [27]:
position = 9
planet + ", you'll always be the " + str(position) + "th planet to me."

"Pluto, you'll always be the 9th planet to me."

In [28]:
"{}, you'll always be the {}th planet to me.".format(planet, position)

"Pluto, you'll always be the 9th planet to me."

>Notice how we didn't even have to call str() to convert position from an int. format() takes care of that for us.

In [29]:
# Referring to format() arguments by index, starting from 0
s = """Pluto's a {0}.
No, it's a {1}.
{0}!
{1}!""".format('planet', 'dwarf planet')
print(s)

Pluto's a planet.
No, it's a dwarf planet.
planet!
dwarf planet!

# Dictionaries {}

In [1]:
numbers = {'one':1, 'two':2, 'three':3}

In [2]:
numbers

{'one': 1, 'three': 3, 'two': 2}

In [4]:
numbers['one']

1

In [5]:
numbers['eleven'] = 11
numbers

{'eleven': 11, 'one': 1, 'three': 3, 'two': 2}

In [6]:
numbers['one'] = 'Pluto'
numbers

{'eleven': 11, 'one': 'Pluto', 'three': 3, 'two': 2}

In [7]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet_to_initial = {planet: planet[0] for planet in planets}
planet_to_initial

{'Earth': 'E',
 'Jupiter': 'J',
 'Mars': 'M',
 'Mercury': 'M',
 'Neptune': 'N',
 'Saturn': 'S',
 'Uranus': 'U',
 'Venus': 'V'}

In [8]:
'Saturn' in planet_to_initial

True

In [9]:
'Betelgeuse' in planet_to_initial

False

In [10]:
for k in numbers:
    print("{} = {}".format(k, numbers[k]))

one = Pluto
two = 2
three = 3
eleven = 11

In [11]:
numbers

{'eleven': 11, 'one': 'Pluto', 'three': 3, 'two': 2}

In [12]:
numbers[k]

11

In [13]:
dict.keys(numbers)

dict_keys(['one', 'two', 'three', 'eleven'])

In [14]:
dict.values(numbers)

dict_values(['Pluto', 2, 3, 11])

In [15]:
# Get all the initials, sort them alphabetically, and put them in a space-separated string.
' '.join(sorted(planet_to_initial.values()))

'E J M M N S U V'

>The very useful **dict.items()** method lets us iterate over the keys and values of a dictionary simultaneously. (In Python jargon, an item refers to a key, value pair)

In [16]:
dict.items(numbers)

dict_items([('one', 'Pluto'), ('two', 2), ('three', 3), ('eleven', 11)])

In [20]:
numbers.items()

dict_items([('one', 'Pluto'), ('two', 2), ('three', 3), ('eleven', 11)])

In [17]:
for planet, initial in planet_to_initial.items():
    print("{} begins with \"{}\"".format(planet.rjust(10), initial))

   Mercury begins with "M"
     Venus begins with "V"
     Earth begins with "E"
      Mars begins with "M"
   Jupiter begins with "J"
    Saturn begins with "S"
    Uranus begins with "U"
   Neptune begins with "N"

In [19]:
planet_to_initial.items()

dict_items([('Mercury', 'M'), ('Venus', 'V'), ('Earth', 'E'), ('Mars', 'M'), ('Jupiter', 'J'), ('Saturn', 'S'), ('Uranus', 'U'), ('Neptune', 'N')])

In [23]:
for planet, initial in planet_to_initial.items():
    print("{} begins with {}".format(planet.ljust(7), initial))

Mercury begins with M
Venus   begins with V
Earth   begins with E
Mars    begins with M
Jupiter begins with J
Saturn  begins with S
Uranus  begins with U
Neptune begins with N

# Exercises

In [24]:
a = ""
len(a)

0

In [25]:
b = "it's ok"
len(b)

7

In [26]:
c = 'it\'s ok'
len(c)

7

In [27]:
d = """hey"""
len(d)

3

In [28]:
e = '\n'
len(e)

1

In [1]:
# help(str)

In [7]:
def is_valid_zip(zip_str):
    """Returns whether the input string is a valid (5 digit) zip code
    """
    return len(zip_str) == 5 and zip_str.isdigit()

In [19]:
# def word_search(doc_list, keyword):
#     """
#     Takes a list of documents (each document is a string) and a keyword. 
#     Returns list of the index values into the original list for all documents 
#     containing the keyword.

#     Example:
#     doc_list = ["The Learn Python Challenge Casino.", "They bought a car", "Casinoville"]
#     >>> word_search(doc_list, 'casino')
#     >>> [0]
#     """
#     pass

def word_search(documents, keyword):
    # list to hold the indices of matching documents
    indices = [] 
    # Iterate through the indices (i) and elements (doc) of documents
    for i, doc in enumerate(documents):
        # Split the string doc into a list of words (according to whitespace)
        tokens = doc.split()
        # Make a transformed list where we 'normalize' each word to facilitate matching.
        # Periods and commas are removed from the end of each word, and it's set to all lowercase.
        normalized = [token.rstrip('.,').lower() for token in tokens]
        # Is there a match? If so, update the list of matching indices.
        if keyword.lower() in normalized:
            indices.append(i)
    return indices

In [20]:
def multi_word_search(doc_list, keywords):
    """
    Takes list of documents (each document is a string) and a list of keywords.  
    Returns a dictionary where each key is a keyword, and the value is a list of indices
    (from doc_list) of the documents containing that keyword

    >>> doc_list = ["The Learn Python Challenge Casino.", "They bought a car and a casino", "Casinoville"]
    >>> keywords = ['casino', 'they']
    >>> multi_word_search(doc_list, keywords)
    {'casino': [0, 1], 'they': [1]}
    """
    pass

def multi_word_search(documents, keywords):
    keyword_to_indices = {}
    for keyword in keywords:
        keyword_to_indices[keyword] = word_search(documents, keyword)
    return keyword_to_indices